


body {
    margin: 0;
    font-family: 'Roboto', 'sans-serif';
    background-color: purple;
    color: white;
}

.cabecario {

    background-color: violet;
    padding: 1rem 1rem;
    align-items: center;
    align-content: center;
    flex-direction: row;
    gap: 45px;

}
.cabecario nav {
    margin-top: 0.5rem;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;

}
.cabecario nav a {
    color: rgb(86, 1, 86);
    
}

.banner {

    position: relative;
    background: url("fotos/fotodefundo.jpg") no-repeat center/cover;
    padding: 240px 1rem 2rem;
    background-size: cover;

}
.banner::after {
    content: '';
    background: linear-gradient(to top, rgba(119, 0, 255, 0), rgba(113, 31, 190, 0.316));
    position: absolute;
   top: 0;
   right: 0;
   left: 0;
   bottom: 0;
    z-index: 1;
}

.conteudo {
    position:relative;
    max-width: 100%;
    color: white;
    z-index: 2;
}

.titulo {

    font-family: "Dancing Script", cursive;
    font-size: 40px;
    margin: 0;
}

.detalhes {

    margin: 10px, 0;
    font-size: 12px;
    color: white;
}

.descricao {
    line-height: 1.3;

}

.bottom {

    margin-top: 20px;

}

.bottom button {

       background: #fff;
       color: black;
       border: none;
       padding:10px,10px;
       margin-right: 10px;
       border-radius: 15px;
       cursor: pointer;

}
.swiper{
    width: 100%;
    padding-bottom: 10px;
}
.swiper-slide {
        width: auto !important;
}
.swiper-slide img{
    display: block;
    width: 200px;
    border-radius: 5px;
    margin: 0 auto;
}

@media(min-width: 900px){
    .swiper-slide img {
        width: 200px;
    }
}

footer{
    background-color: #141414;
    padding: 1rem;
    text-align: center;
    font-size: 12px;
    color: #aaa;
}
.voce h2 {
    font-size: 23px;
    padding: 1rem 8rem;
    align-items: center;

}

.escrever {
    text-align: center;
    padding: 1 rem 1rem;
    background-color: violet;
    align-items: center;
    align-content: center;
    flex-direction: row;
    gap: 15px;

}
